.container-first{
    width: 100%;
    max-width: 100%; 
    padding: 50px 180px;
}

@media screen and (max-width: 768px) {
    .container-first {
        padding: 20px 10px;
    }
}

.heading1{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    color: #EC53B0;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 20px;
}

.input{
    /* display: flex; */
    align-items: center;
    margin: auto;
    border-radius: 6px;
    padding: 10px 0;
}

.input .form-control {
    width: 100%;
}

.buy-btn{
    padding-bottom: 8rem;
}

.submit-btn{
    padding: 10px 40px;
    margin-top: 5px;
    display: block; /* Make button a block element so it takes full width */
    margin-left: auto; /* Center align button */
    margin-right: auto; 
    max-width: 200px;
     /* Optional: set a max width for the button */
}