.forgot-container{
    width: 100%;
    max-width: 100%; 
    padding: 50px 180px;
}


.inpt{
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 6px;
    padding: 10px 0;
    padding-top: 10px;
}
.submit-div2{
    /* padding-left: 220px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;

}
