nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 20px 40px;
    box-shadow: 0 5px 15px ;
}
.logo{
    height: 100px;
    width: 200px;
    padding-left: 10px;
}

#navbar1{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar1 li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    color: #4F4557;
    transition: 0.3s ease-in-out;
    

}
#navbar1 li a{
    color: #4F4557;
    font-family: 'Sacramento', cursive;
}

#navbar1 li a:hover,
#navbar1 li a.active{
    color: #EC53B0;
}

#navbar1 li a:hover::after,
#navbar1 li a.active::after{
    content:"";
    width: 30%;
    height: 2px;
    background: #EC53B0;
    position: absolute;
    bottom: -4px;
    left: 20px;

}
#mobile{
    display: none;
}
#mobile i{
    color: #4F4557;
    align-items: center;
}

@media screen and (max-width:769px){
    #navbar1{
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 140px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #F5F5F5;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;;
    }

    #navbar1.active{
        right: 0px;
    }

    #navbar1 li{
        font-size: 20px;
        margin-bottom: 25px;

    }

    #mobile{
        display: block;
    }

    #mobile i{
        font-size: 24px;
        cursor:pointer;
    }
}

/* Updated styles in styles.css */
.loginBtn {
    float: right;
    margin: 10px;
    padding: 5px 15px;
    background-color: #4682A9 ;  /* Background color */
    color: white; 
    border-radius: 5%;           /* Text color */
    border: none;            /* Removes default border */
    cursor: pointer; 
    /* font-family: 'Sacramento', cursive;    */
  }
  
  /* Add a hover effect */
  .loginBtn:hover  {
    background-color: #7091F5; /* Darker shade of blue when hovering */
  }

  .normalBtn{
    float: left;
    margin: 10px;
    padding: 5px 15px;
    background-color: #EC53B0;  /* Background color */
    color: white; 
    border-radius: 5%;           /* Text color */
    border: none;            /* Removes default border */
    cursor: pointer; 
    /* font-family: 'Sacramento', cursive;         */
  }
  
  /* Add a hover effect */
  .normalBtn:hover  {
    background-color: #FFC7EA; /* Darker shade of blue when hovering */
  }

  .name {
    display: flex;
    align-items: center;  /* Vertically center align items in the container */
    justify-content: center;  /* Horizontally center align items in the container */
}
 
@media screen and (max-width:769px) {
    /* Adjustments for the logged-in state */
    .name {
        display: flex; 
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start;  /* Align items to the left */
    }
    
    /* Add some space between the name and logout button */
    .loginBtn {
        margin-top: 10px;
        margin-right: 15rem;
    }
}
  

  .cart-trolley--link {
    position: relative;

    .cart-trolley {
      position: relative;
      font-size: 3.2rem;
    }

    .cart-total--item {
      width: 2.4rem;
      height: 2.6rem;
      position: absolute;
      background-color:#4F4557 ;
      color: #4F4557;
      border-radius: 50%;
      display: grid;
      place-items: center;
      top: -60%;
      left: 60%;
      line-height: 2.4rem;
      background-color: #EC53B0;
    }
  }
  @media screen and (max-width:769px) {
   
    .cart-total--item{
      
      transform: translate(-1%, 30%)
     
      
    }
   
}



  
  